:root {
  box-sizing: border-box;
}
body {
  background: black;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/* customized switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.price {
  font-size: 4rem;
  font-weight: 700;
}

span {
  font-size: 2rem;
}
.card {
  border: none !important;
  /* background: linear-gradient(45deg, #a3a8f0, #696fdd ) ; */
}

#list-item {
  background: #848cf8;
  border-bottom: 1px solid white;
  color: white;
}

.basic,
.master {
  border-radius: 0.5em;
  padding: 2em;
}

/* .pro-card {
  align-items: center;
} */

.professional {
  border-radius: 0.5em;
  padding: 2em;
  background: #848cf8;
  z-index: 5;
  box-shadow: 0 0 10px #696fdd;
}
/* btn */

.btn-cute {
  background: linear-gradient(45deg, #a3a8f0, #696fdd);
  text-decoration: none;
  color: white;
}
.btn-cute-1 {
  background-color: white;
  text-decoration: none;
  color: #696fdd;
}

.btn-cute-1:hover {
  background: #848cf8;
  text-decoration: none;
  border: 1px solid #fff !important;
  color: white;
}

.btn-cute:hover {
  /* color: white; */
  background: white !important;
  border: 1px solid #696fdd;
}
