:root {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.wrap-bg {
  background: linear-gradient(
    rgba(241, 237, 237, 0.329),
    rgba(241, 237, 237, 0.329)
  );
}

#bg-img-top {
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}

#bg-img-bottom {
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
}

/* customized switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:hover {
  opacity: 0.5;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.price {
  font-size: 3.5rem;
  font-weight: 700;
}

span {
  font-size: 2rem;
}

.price-card {
  background: #848cf8;
  color: white;
}

.price-card p {
  border-top: 1px solid lightgrey;
  padding-top: 0.8em;
}
#basic,
#master {
  box-shadow: 0 0 20px #ccc;
}

#basic .price-card,
#master .price-card {
  background: white;
}

#basic .price-card p,
#master .price-card p {
  background: white;
  border-top: 1px solid lightgrey;
}

#basic .price-card p:nth-child(3),
#master .price-card p:nth-child(3) {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.8em;
}

.price-card p:nth-child(3) {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.8em;
}

#prof {
  border-radius: 0.5em;
  padding: 2em;
  background: #848cf8;
  box-shadow: 0 0 10px #696fdd;
  z-index: 6;
}

#basic,
#master {
  border-radius: 0.5em;
  padding: 2em;
  background: white;
}
#basic .price-card p,
#master .price-card p {
  background: white;
}

#professional {
  border-radius: 0.5em;
  padding: 2em;
  background: #848cf8;
  z-index: 5;
  box-shadow: 0 0 10px #696fdd;
  margin-top: -22px !important;
  margin-bottom: -22px !important;
  /* height: 700px; */
}

/* btn */

.btn-cute {
  background: linear-gradient(45deg, #a3a8f0, #696fdd);
  text-decoration: none;
  color: white;
}
.btn-cute-1 {
  background-color: white;
  text-decoration: none;
  color: #696fdd;
}

.btn-cute-1:hover {
  background: #848cf8;
  text-decoration: none;
  border: 1px solid #fff !important;
  color: white;
}

.btn-cute:hover {
  /* color: white; */
  background: white !important;
  border: 1px solid #696fdd;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 425px) {
  #bg-img-top {
    left: 0;
    top: -20px;
    z-index: -2;
  }

  #bg-img-bottom {
    display: none;
  }
}
@media (min-width: 700px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* #bg-img-top {
    background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    bottom: 5%;
    z-index: -2;
  } */
  #prof {
    transform: scale(1.1, 1.1);
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #bg-img-top {
    /* background: url(../images/bg-top.svg); */
    background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    bottom: 5%;
    z-index: -2;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {

  
} */
